.input-full-width {
    min-width: 250px;
    max-width: 600px;
    width: 100%;
    background-color: white;
}

.form-container {
    margin: 30px;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.loading-spinner mat-spinner {
    margin-bottom: 10px;
}