<h2>Neue Person anlegen</h2>
<div class="form-container">
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Vorname</mat-label>
                <input matInput type="text" id="vorname" formControlName="vorname" required>
            </mat-form-field>
            @if(personForm.controls['vorname'].hasError('required') && (personForm.controls['vorname'].dirty ||
            personForm.controls['vorname'].touched)){
            <mat-error>Vorname ist erforderlich!</mat-error>
            }
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Nachname</mat-label>
                <input matInput type="text" id="nachname" formControlName="nachname" required>
            </mat-form-field>
            @if(personForm.controls['nachname'].hasError('required') && (personForm.controls['nachname'].dirty ||
            personForm.controls['nachname'].touched)){
            <mat-error>Nachname ist erforderlich!</mat-error>
            }
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Geburtstag</mat-label>
                <input matInput type="date" id="geburtstag" formControlName="geburtstag" required>
            </mat-form-field>
            @if(personForm.controls['geburtstag'].hasError('required') && (personForm.controls['geburtstag'].dirty ||
            personForm.controls['geburtstag'].touched)){
            <mat-error>Geburtstag ist erforderlich!</mat-error>
            }
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Geburtsort</mat-label>
                <input matInput type="text" id="geburtsort" formControlName="geburtsort">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Sterbedatum</mat-label>
                <input matInput type="date" id="todestag" formControlName="todestag">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Sterbeort</mat-label>
                <input matInput type="text" id="todesort" formControlName="todesort">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Beruf</mat-label>
                <input matInput type="text" id="beruf" formControlName="beruf">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-full-width">
                <mat-label>Verbundene Person</mat-label>
                <input matInput type="text" id="verbindung" formControlName="verbindung" (input)="onInputChange($event)"
                [value]="personForm.controls['verbindung'].value">
            </mat-form-field>
            <ul *ngIf="suchErgebnisse.length > 0">
                <li *ngFor="let person of suchErgebnisse" (click)="selectPerson(person)">
                    {{ person.vorname }} {{ person.nachname }}
                </li>
            </ul>
            <button mat-button type="button" (click)="entferneVerbindung()" *ngIf="verbundenePerson">Verbindung entfernen</button>
        </div>

        <!--<div>
            <label for="verbindung">Verbindung zu Person:</label>
            <input type="text" id="verbindung" formControlName="verbindung" (input)="onInputChange($event)"
                [value]="personForm.controls['verbindung'].value">
            <ul *ngIf="suchErgebnisse.length > 0">
                <li *ngFor="let person of suchErgebnisse" (click)="selectPerson(person)">
                    {{ person.vorname }} {{ person.nachname }}
                </li>
            </ul>
            <button type="button" (click)="entferneVerbindung()" *ngIf="verbundenePerson">Verbindung entfernen</button>
        </div>-->

        <button mat-raised-button type="submit" [disabled]="personForm.invalid">Speichern</button>
    </form>
</div>

<ul>
    <li *ngFor="let person of allePersonen">
        {{ person.nachname }}, {{ person.vorname }} ({{ person.geburtstag | date: 'dd.MM.yyyy' }})
    </li>
</ul>

<div *ngIf="erfolgsmeldung">
    {{ erfolgsmeldung }}
</div>

<div *ngIf="fehlermeldung">
    {{ fehlermeldung }}
</div>