<!-- <app-toolbar-header></app-toolbar-header> -->
<div class="body-container">
    <mat-tab-group>
        <mat-tab label="Übersicht">
            <p>Hier entsteht die Übersicht über die gesamte Ahnentafel.</p>
        </mat-tab>
        <mat-tab label="Personensuche">
            <p>Hier kannst du einen Ausschnitt des Stammbaums um eine Bezugsperson herum anschauen.</p>
        </mat-tab>
        <mat-tab label="Neue Person hinzufügen">
            <mat-card>
                <mat-card-content>
                    <app-neue-person></app-neue-person>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Verbindungen hinzufügen">
            <mat-card>
                <mat-card-content>
                    <app-neue-verbindung></app-neue-verbindung>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Fehler beheben">
            <p>Hier kannst du Fehler korrigieren, also Personen und Verbindungen entfernen.</p>
        </mat-tab>
    </mat-tab-group>
</div>