<h2>Korrektur bestehender Personen</h2>

<mat-button-toggle-group name="correctionType" aria-label="Korrekturart wählen"
    (valueChange)="onCorrectionTypeChange($event)">
    <mat-button-toggle value="delete">Person löschen</mat-button-toggle>
    <mat-button-toggle value="disconnect">Verbindung lösen</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="selectedCorrectionType === 'delete'">
    <h2>Person löschen</h2>
    <div *ngIf="personIstGeloescht">
        <div *ngIf="erfolgsmeldung">
            {{ erfolgsmeldung }}
        </div>
        <div class="nochmal-button">
            <button mat-raised-button onclick="resetPersonIstGeloescht()">
                Weitere Person löschen
            </button>
        </div>
    </div>
    <div *ngIf="!personIstGeloescht">
        <form [formGroup]="loeschenForm" (ngSubmit)="onSubmitLoeschePerson()">
            <div *ngIf="isLoading" class="loading-spinner">
                <mat-spinner></mat-spinner>
                <p>Verarbeitung ...</p>
            </div>
            <div *ngIf="!isLoading">
                <div class="form-group-element">
                    <p>Wähle die Person aus, die du löschen möchtest</p>
                    <mat-form-field class="input-full-width">
                        <mat-label>Vorhandene Person</mat-label>
                        <input matInput type="text" id="personLoeschen" formControlName="personLoeschen"
                            (input)="onInputChange($event)" [value]="loeschenForm.controls['personLoeschen'].value">
                    </mat-form-field>
                    @if(loeschenForm.controls['personLoeschen'].hasError('required') &&
                    (loeschenForm.controls['personLoeschen'].dirty ||
                    loeschenForm.controls['personLoeschen'].touched)){
                    <mat-error>Eine zu löschende Person muss ausgewählt werden</mat-error>
                    }
                    <mat-action-list *ngIf="suchErgebnisse.length > 0">
                        @for (person of suchErgebnisse; track person.id) {
                        <button mat-list-item (click)="selectPerson(person)">
                            {{ person.vorname }} {{ person.nachname }}, {{ person.geburtstag | date: 'dd.MM.yyyy' }}
                        </button>
                        }
                    </mat-action-list>

                    <button mat-button type="button" (click)="setzeGefundenePersonZurueck()" *ngIf="ausgewaehltePerson">
                        Eine andere Person auswählen
                    </button>

                </div>
                <div class="form-group-element">
                    <button mat-raised-button type="submit" [disabled]="loeschenForm.invalid"
                        [disabled]="loeschenForm.invalid || isLoading">
                        {{ isLoading ? 'Wird gesendet...' : 'Person löschen' }}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="fehlermeldung">
        {{ fehlermeldung }}
    </div>
</div>

<div *ngIf="selectedCorrectionType === 'disconnect'">
    <h2>Verbindung lösen</h2>
    <div *ngIf="verbindungIstGeloest">
        <div *ngIf="erfolgsmeldung">
            {{ erfolgsmeldung }}
        </div>
        <div class="nochmal-button">
            <button mat-raised-button onclick="resetverbindungIstGeloest()">
                Weitere Verbindung lösen
            </button>
        </div>
    </div>
    <div *ngIf="!verbindungIstGeloest">
        <form [formGroup]="loeseVerbindungForm" (ngSubmit)="onSubmitLoeseVerbindung()">
            <div *ngIf="isLoading" class="loading-spinner">
                <mat-spinner></mat-spinner>
                <p>Verarbeitung ...</p>
            </div>
            <div *ngIf="!isLoading">
                <div class="form-group-element">
                    <div class="form-box">
                        <div class="left-box">
                            <p>Wähle die erste Person aus.</p>
                            <mat-form-field class="input-wide">
                                <mat-label>Person eins</mat-label>
                                <input matInput type="text" id="person1" formControlName="person1"
                                    (input)="onInputChange1($event)"
                                    [value]="loeseVerbindungForm.controls['person1'].value">
                            </mat-form-field>
                            @if(loeseVerbindungForm.controls['person1'].hasError('required') &&
                            (loeseVerbindungForm.controls['person1'].dirty ||
                            loeseVerbindungForm.controls['person1'].touched)){
                            <mat-error>Eine Person aus der Liste muss ausgewählt werden</mat-error>
                            }
                            <mat-action-list *ngIf="suchErgebnis1.length > 0">
                                @for (person of suchErgebnis1; track person.id) {
                                <button mat-list-item (click)="selectPerson1(person)">
                                    {{ person.vorname }} {{ person.nachname }}, {{ person.geburtstag | date:
                                    'dd.MM.yyyy' }}
                                </button>
                                }
                            </mat-action-list>
                        </div>
                        <div class="right-box">
                            <div [hidden]="(gefundenePerson1 == null)">
                                <p>Wähle die zweite Person aus.</p>
                                <mat-form-field class="input-wide">
                                    <mat-label>Person zwei</mat-label>
                                    <input matInput type="text" id="person2" formControlName="person2"
                                        (input)="onInputChange2($event)"
                                        [value]="loeseVerbindungForm.controls['person2'].value">
                                </mat-form-field>
                                @if(loeseVerbindungForm.controls['person2'].hasError('required') &&
                                (loeseVerbindungForm.controls['person2'].dirty ||
                                loeseVerbindungForm.controls['person2'].touched)){
                                <mat-error>Eine Person aus der Liste muss ausgewählt werden</mat-error>
                                }
                                <mat-action-list *ngIf="suchErgebnis2.length > 0">
                                    @for (person of suchErgebnis2; track person.id) {
                                    <button mat-list-item (click)="selectPerson2(person)">
                                        {{ person.vorname }} {{ person.nachname }}, {{ person.geburtstag | date:
                                        'dd.MM.yyyy' }}
                                    </button>
                                    }
                                </mat-action-list>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button mat-button type="button" (click)="setzeGefundenePersonenZurueck()"
                            *ngIf="gefundenePerson1 || gefundenePerson2">
                            Suche zurücksetzen
                        </button>
                    </div>
                    <div class="form-group-element">
                        <button mat-raised-button type="submit" [disabled]="loeseVerbindungForm.invalid || isLoading">
                            {{ isLoading ? 'Wird gesendet...' : 'Verbindung lösen' }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="fehlermeldung">
        {{ fehlermeldung }}
    </div>
</div>
